<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Remove ".html" extension from the end of all pages
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([^/]+)\.html$ /$1 [L,R=301]

  # Redirect "/index.html" to "/"
  RewriteCond %{THE_REQUEST} \ /(.+/)?index\.html
  RewriteRule ^(.+/)?index\.html$ /$1 [L,R=301]
</IfModule>