@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.contact {
  @include m.layout-section-padding;
  padding-bottom: 8rem;
  margin: auto;
  color: v.$color-white;
  background-color: v.$color-secondary;
  background-size: cover;
}

.contact__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.contact__header-title {
  text-transform: uppercase;
}

.contact__header-description {
  background-color: v.$color-grey-light;
  padding: 1rem;
  border-radius: 10px;
  color: v.$color-text;
  margin-top: 1rem;
}

.contact__form-container {
  background-color: v.$color-white;
  padding: 4rem;
  margin: 0 auto;
  max-width: 50rem;
  border-radius: 10px;
  text-align: left;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.08);
  transition: 0.3s ease-in-out;
}

.contact__form-container:hover {
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.15);
}

.contact__form {
  display: block;
}

.contact__form-field {
  margin-bottom: 2rem;
}

.contact__form-label {
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
}

.contact__form-input {
  color: v.$color-text;
  padding: 1.5rem;
  width: 100%;
  border: 1px solid #ebebeb;
  letter-spacing: 0;
  background: v.$color-grey-light;
  border-radius: 1.5rem;
  font-size: 16px;
}
