@use "../abstracts/variables" as v;

.page__main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 5rem;
}

.page__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  padding-top: calc(80px + 5rem);
}

.page__hero-header {
  background: linear-gradient(
    to bottom right,
    v.$color-primary,
    v.$color-secondary
  );
  width: 100%;
  height: 15rem;
  padding: 0 2rem;
  text-align: center;
  color: v.$color-white;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.page__section {
  padding: 0 4rem;
}
